
<footer class="site-footer">


        <nav>
            <a href="#" class="Coding">Coding</a>
            <a href="#" class="Finance">Finance</a>
            <a href="#" class="Data">Data</a>
        </nav>

        <ul>
            <li>
                <a href="https://facebook.com/noahmitsuhashi" target="_blank"><span class="icon--facebook"><img src="img/facebook-256.png" class="icons" alt="facebook"></span></a>
            </li>
            <li>
                <a href="https://github.com/nmits" target="_blank"><span class="icon--github"><img src="img/github.png" class="icons" alt="github"></span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nmits" target="_blank"><span class="icon--linkedin"><img src="img/linkedin_gray.png" class="icons" alt="linkedin"></span></a>
            </li>
            <li>
                <a href="https://instagram.com/noah_morepartiesinla" target="_blank"><span class="icon--instagram"><img src="img/instagram_new-512.png" class="icons" alt="instagram"></span></a>
            </li>
            <li>
                <a href="#" class="mute">Mute</a>
            </li>
        </ul>


</footer>
