
<footer class="site-footer">
    <ul class="social-media-list" style="float:right;text-align:right;margin-right:75px">
        {% if site.linkedin_username %}
        <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
            {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
            {% include icon-facebook.html username=site.facebook_username %}
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
            {% include icon-instagram.html username=site.instagram_username %}
        </li>
        {% endif %}
    </ul>


</footer>
