<header class="site-header">

  <div class="wrapper">

    <div class="profile">

        <ul class="contact-list" style="float:left">
            <li>
                <span style="font-weight:bold;text-color=red;">Noah Mitsuhashi</span>
            </li>
            <li>
                {% include icon-phone.html %}
          </li>
          <li>
              {% include icon-email.html %}
          </li>
          <li>
              {% include icon-gps.html %}
          </li>
        </ul>

        <div class="profilepicture">
            <img src="img/pic.jpg" class="pic" alt="Profile picture" style="border-radius: 50%;width:200px;height:200px;">
        </div>


    </div>

  </div>

</header>
