<header class="site-header">

        <ul class="contact-list">
            <li>
                <span><b>Noah Mitsuhashi</b></span>
            </li>
            <li>
                {% include icon-phone.html %}
          </li>
          <li>
              {% include icon-email.html %}
          </li>
          <li>
              {% include icon-gps.html %}
          </li>
        </ul>

        <div class="profilepicture">
            <img src="img/pic.jpg" class="self" alt="Profile picture">
        </div>

</header>
