<header class="site-header">

  <div class="wrapper">

    <div class="profile" style="background-image: url('background.jpg')">
      <img src="img/pic.jpg" class="img-circle" alt="Profile picture" height="200px" width="200px">
      <ul class="social-media-list">
          <li>
              {% include icon-email.html %}
          </li>

          {% if site.linkedin_username %}
          <li>
              {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
              {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
              {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
              {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
      </ul>
    </div>

  </div>

</header>
