
.ContentWrapper{
    width:vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    word-wrap: normal;
    letter-spacing:3px;
    z-index:0;
}

.ContentBox{
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 30vh;
    padding-left:5%;
    width:100%;
}

.SchoolText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/background.jpg");
}

.CodingText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/code.jpg");
    }

.FinanceText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/finance.jpg");
    }

.DataText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/data.jpg");
    margin-bottom: 40px;
}

.icons {
    height:20px;
    width:20px;
    filter: invert(100%);
    padding:10px;
}

.profilepicture {
    float: right;
    width:150px;
    height:150px;
    margin-top: 1.5vw;
    margin-right: 1.5vw;
}

.self {
    border-radius: 50%;
    width:150px;
    height:150px;
    float:right;
}

/**
 * Site header
 */
.site-header {
    height:75vh;
    animation-duration: 1.5s;
    animation-name: fadeInTop;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.titles {
    font-family: 'Lato', sans-serif;
    opacity: 0.5;
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 30vh;
}

.titles h1{
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    font-weight: 400;
    background-color: #252525;
    background-color: rgba(37,37,37,0.9);
    margin:0;
}


/**
 * Site footer
 */
.site-footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    color: #ffffff;
    box-sizing: border-box;
    background-color: darkslategrey;
    opacity: 0.7;
    padding: 0 0 0 20px;
    line-height: 40px;
    position: fixed;
}

.site-footer > nav{
        float: left;
        letter-spacing:3px;
        position: absolute;
        top: 0;
        height: 40px;
        text-align: center;

        a {
            transition: filter 400ms ease-out;
            color: #dddddd;
            padding: 0 5px;
            margin: 0 5px;
        }

        a:hover {
            filter: invert(50%);
        }
}

.site-footer > ul{
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.site-footer > ul > li {
    width: 40px;
    float: right;
    display: inline;
    transition: filter 400ms ease-out;
}

.site-footer > ul > li:hover {
    filter: invert(50%);
}


.contact-list{
    letter-spacing:3px;
    list-style: none;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 300px;
    float:left;
    z-index:1;

    a{
        transition: filter 400ms ease-out;
    }

    a:hover{
        filter: invert(50%);
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    h1{
        font-variant: small-caps;
    }

    h2{
        font-weight:bold;
    }

    p{
        width:50%;
        line-height: 200%;
    }
}

p.codeSnippet{
     color: #333;
     line-height: 120%;
     padding: 20px;
     background-color: #FFF;
     width: 67.5%;
     font-size: 12px;
     overflow: hidden;
}

.ContentWrapper{
    line-height: 400%;
    color: #ffffff;
    height:100vh;
    margin: auto;
    margin-top: 15vh;

    a{
        transition: filter 400ms ease-out;
    }

    a:hover{
        filter: invert(50%);
    }
}

.content {
      position: relative;
      font-family: 'Lato', sans-serif;
      font-size: 47px;
      line-height: 40px;
      list-style-type: none;
      padding-top: 44vh;

  &__container {
        font-weight: 600;
        overflow: hidden;
        height: 40px;
        padding: 30px 30px;
        margin: auto;
        color: white;
        background-color: darkslategray;
        opacity: 0.4;
        width: min-content;

    &__text {
        display: inline;
        float: left;
        margin: 0;
    }

    &__list {
      margin-top: -40px;
      padding-left: 345px;
      text-align: left;
      list-style: none;
      color: slategrey;
      -webkit-animation-name: change;
      -webkit-animation-duration: 15s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 15s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0% {transform:translate3d(0,0,0);}
  11.1% {transform:translate3d(0,-11.1%,0);}
  22.2% {transform:translate3d(0,-22.2%,0);}
  33.3% {transform:translate3d(0,-33.3%,0);}
  44.4% {transform:translate3d(0,-44.4%,0);}
  55.5% {transform:translate3d(0,-55.5%,0);}
  66.6% {transform:translate3d(0,-66.6%,0);}
  77.7% {transform:translate3d(0,-77.7%,0);}
  88.8% {transform:translate3d(0,-88.8%,0);}
  100% {transform:translate3d(0,0,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0% {transform:translate3d(0,0,0);}
  11.1% {transform:translate3d(0,-11.1%,0);}
  22.2% {transform:translate3d(0,-22.2%,0);}
  33.3% {transform:translate3d(0,-33.3%,0);}
  44.4% {transform:translate3d(0,-44.4%,0);}
  55.5% {transform:translate3d(0,-55.5%,0);}
  66.6% {transform:translate3d(0,-66.6%,0);}
  77.7% {transform:translate3d(0,-77.7%,0);}
  88.8% {transform:translate3d(0,-88.8%,0);}
  100% {transform:translate3d(0,0,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0% {transform:translate3d(0,0,0);}
  11.1% {transform:translate3d(0,-11.1%,0);}
  22.2% {transform:translate3d(0,-22.2%,0);}
  33.3% {transform:translate3d(0,-33.3%,0);}
  44.4% {transform:translate3d(0,-44.4%,0);}
  55.5% {transform:translate3d(0,-55.5%,0);}
  66.6% {transform:translate3d(0,-66.6%,0);}
  77.7% {transform:translate3d(0,-77.7%,0);}
  88.8% {transform:translate3d(0,-88.8%,0);}
  100% {transform:translate3d(0,0,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0% {transform:translate3d(0,0,0);}
  11.1% {transform:translate3d(0,-11.1%,0);}
  22.2% {transform:translate3d(0,-22.2%,0);}
  33.3% {transform:translate3d(0,-33.3%,0);}
  44.4% {transform:translate3d(0,-44.4%,0);}
  55.5% {transform:translate3d(0,-55.5%,0);}
  66.6% {transform:translate3d(0,-66.6%,0);}
  77.7% {transform:translate3d(0,-77.7%,0);}
  88.8% {transform:translate3d(0,-88.8%,0);}
  100% {transform:translate3d(0,0,0);}
}


@media only screen and (max-device-width: 480px) {
    $base-font-size: 10px;

    p.codeSnippet{
         font-size: 8px;
    }

    .body{
        min-width:250%;
    }

    .page-content h1{
        font-size: 12px;
    }

    .punch-viewer-body-v2{
        width:90%
    }

    .ContentWrapper a{
        font-size:14px
    }

    .icons {
        height:10px;
        width:10px;
        padding:5px;
    }

    .profilepicture {
        float: right;
        width:100px;
        height:100px;
        margin-top: 1.5vw;
        margin-right: 1.5vw;
    }

    .self {
        width:100px;
        height:100px;
        float:right;
        margin-left:8.5vw
    }

    .contact-list{
        width:50%;
    }

    .username{
        width: 0px;
        height: 0px;
        visibility: hidden;
        display: none;
    }

    .page-content p{
        font-size: 14px;
    }

    .site-footer > nav{
        width: 0px;
        height: 0px;
        visibility: hidden;
        display: none;
    }

    .site-footer {
        height: 20px;
        padding: 0 0 0 5px;
        line-height: 20px;
    }

    .site-footer > nav{
            letter-spacing:3px;
            height: 20px;
            a {
                padding: 0 2.5px;
                margin: 0 2.5px;
            }
    }

    .site-footer > ul{
        -webkit-padding-start: 0px;
        float: left;

    }

    .site-footer > ul > li {
        width: 20px;
        float: left;

    }

    .content {
      font-size: large;
      width:100vw;

      &__container {
            font-weight: 600;
            height: 40px;
            padding: 0 20px;
            max-width: 80%;
            width: min-content;

        &__text {
        }

        &__list {
          padding-left: 108px;

          &__item {
            line-height:40px;
            margin:0;
          }
        }
      }
    }

}