
.icons {
            -webkit-filter: grayscale(100%); filter: grayscale(100%);
            -webkit-filter: brightness(0.25); filter: brightness(0.25);
            height:20px;width:20px;
}

.profilepicture {
    float: right;
    width:150px;
    height:150px;
    margin-top: 1.5vw;
    margin-right: 1.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.self {
    border-radius: 50%;
    width:150px;
    height:150px;
    float:right
}

.sidelinks{
    position: fixed;
    margin-top: 1vh;
    width: 15vw;
    height: 10vh;
    ul {
        margin-left:0px;
        list-style-type: none;
        letter-spacing:3px;
        background-color: #bbbbbb;
    }

    li a {
       display: block;
        color: #ffffff;
        padding: 5vh 10vw;
        padding-left: 12px;
       text-decoration: none;
    }

    li a:visited {
            color: #ffffff;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #777777;
        color: red;
        padding: 5vh 20vw;
        padding-left: 20px;
    }
}

/**
 * Site header
 */
.site-header {
    background-image: url("img/background.png");
    // Positioning context for the mobile navigation icon
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    width: 100%;
    opacity: 0.6;
    height: 40px;
    background: $grey-color-dark;
    bottom: 0;
    left: 0;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    line-height: 40px;
    position: fixed;
}

.site-footer > nav{
        width: 25vw;
        float: left;
        letter-spacing:3px;
        position: absolute;
        top: 0;
        height: 40px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        transition: all 400ms ease-out;
            transition-property: all;
            transition-duration: 400ms;
            transition-timing-function: ease-out;
            transition-delay: initial;

        a {
            color: #dddddd;
            padding: 0 5px;
            margin: 0 5px;
        }

        a:hover {
            color: #ffffff;
        }
}

.site-footer > ul{
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.site-footer > ul > li {
    width: 40px;
    float: right;
    display: inline;
}

.site-footer .icons{
    filter: invert(100%);
}

.contact-list{
    letter-spacing:3px;
    list-style: none;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 300px;
    float:left;
    transition: all 400ms ease-out;
        transition-property: all;
        transition-duration: 400ms;
        transition-timing-function: ease-out;
        transition-delay: initial;

    a:hover{
        color: #999999
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    height: 800px
}

