[data-animate-scroll] {
    -webkit-transition: opacity 2s cubic-bezier(.075,.82,.165,1),-webkit-transform 1s cubic-bezier(.075,.82,.165,1);
    transition: opacity 2s cubic-bezier(.075,.82,.165,1),-webkit-transform 1s cubic-bezier(.075,.82,.165,1);
    transition: transform 1s cubic-bezier(.075,.82,.165,1),opacity 2s cubic-bezier(.075,.82,.165,1);
    transition: transform 1s cubic-bezier(.075,.82,.165,1),opacity 2s cubic-bezier(.075,.82,.165,1),-webkit-transform 1s cubic-bezier(.075,.82,.165,1);
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
}

.smoothScroll{
}

.ContentWrapper{
    width:vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    word-wrap: normal;
    letter-spacing:3px;
    z-index:0;
}

.SchoolText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/background.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.CodingText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/code.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.FinanceText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/finance.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.DataText{
    background-image:url("https://raw.githubusercontent.com/nmits/nmits.github.io/master/img/data.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.icons {
    height:20px;
    width:20px;
    filter: invert(100%);
    padding:10px;
}

.profilepicture {
    float: right;
    width:150px;
    height:150px;
    margin-top: 1.5vw;
    margin-right: 1.5vw;
}

.self {
    border-radius: 50%;
    width:150px;
    height:150px;
    float:right;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    color: #ffffff;
    box-sizing: border-box;
    background-color: darkslategrey;
    opacity: 0.7;
    padding: 0 0 0 20px;
    line-height: 40px;
    position: fixed;
}

.site-footer > nav{
        float: left;
        letter-spacing:3px;
        position: absolute;
        top: 0;
        height: 40px;
        text-align: center;

        a {
            transition: filter 400ms ease-out;
            color: #dddddd;
            padding: 0 5px;
            margin: 0 5px;
        }

        a:hover {
            filter: invert(50%);
        }
}

.site-footer > ul{
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.site-footer > ul > li {
    width: 40px;
    float: right;
    display: inline;
    transition: filter 400ms ease-out;
}

.site-footer > ul > li:hover {
    filter: invert(50%);
}


.contact-list{
    letter-spacing:3px;
    list-style: none;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 300px;
    float:left;
    z-index:1;

    a{
        transition: filter 400ms ease-out;
    }

    a:hover{
        filter: invert(50%);
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    height: 800px;
}

.ContentWrapper{
    white-space:pre;
    color: #ffffff;
    height:100vh;
    margin: auto;
    margin-top: 15vh;
}

@media only screen and (max-device-width: 480px) {
    .profilepicture{
        width:50px;
        height:50%;
    }

    .self{
        width:15vw;
        height:15vw;
    }

    .contact-list{
        width:50%;
    }

    .username{
        width: 0px;
        height: 0px;
        visibility: hidden;
        display: none;
    }

    .site-footer > nav{
        width: 0px;
        height: 0px;
        visibility: hidden;
        display: none;
    }
}