<!DOCTYPE html>
<html>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100221975-1', 'auto');
  ga('send', 'pageview');
</script>

<link rel="icon" href="img/logo.png">

  {% include head.html %}

  <body>

    {% include header.html %}

    <a id="School"></a>

    <div class="page-content">
        <div class="ContentWrapper">
            <div class="titles"><h1>Academics</h1></div>
        <div class = "ContentBox SchoolText">
            <br><br>
            <h2>University of Southern California</h2>
            <p><a href="https://viterbischool.usc.edu/" target="_blank">Viterbi School of <b>Engineering ➤</b></a></p>
            <br>
            <p>August 2015 - December 2018</p>
            <br>
            <p><a href="http://catalogue.usc.edu/preview_program.php?catoid=2&poid=1488" target="_blank">
                <b>Major:</b> Computer Science/Business Administration ➤
            </a></p>
            <br>
            <p><b>Finance GPA:</b> 3.52</p>
            <p><b>Coding GPA:</b> 3.48</p>
            <br>
            <h2>Classes Taken</h2>
            <p>Accounting, Algorithms, Applied Linear Algebra, Artificial Intelligence,
               Data Structures, Discrete Methods, Econ, Finance, Statistics</p>
            <br>
            <h2>General skills</h2>
            <p>Learns quickly, excellent with instruction, excellent
            at problem solving, timely, well organized, highly
            self-motivated</p>
            <br>
            <h2>General competencies</h2>
            <p>
                Accounting + General Finance, Algorithmic Optimization, Candlestick Analysis,
                Coding Design Principles, Effective Organizational Design, Headless Browsing,
                Library Utilization, MS Office, Programming Theory, Risk Analysis, Terminal,
                Value + Growth Stock Analysis
            </p>
            <br><br>
        </div>
            <a id="Coding"></a>
            <div class="titles"><h1>Coding</h1></div>
        <div class = "ContentBox CodingText">
            <br><br>
            <h2><a href="http://www.portfolioinsider.com/" target="_blank">Chief of Artificial Intelligence at Portfolio Insider ➤</a></h2>
            <br>
            <p>
                Worked on humanizing financial data and making it accessible to everyone
            </p><br>
            <h2><a href="http://www.google.com/" target="_blank">Software Engineer for Google ➤</a></h2>
            <br>
            <p>
                Worked on Ads team leveraging human capital and machine learning to show appropriate Ads
            </p><br>
            <h2><a href="http://www.mutualsecurities.com/" target="_blank">Software Architect for Mutual Securities ➤</a></h2>
            <br>
            <p>
                Designed system to sort through 1,000+ entries by custom heuristic fits
                and provide recommendations to 100+ clients facilitating > 2B in
                transactions and > 50% increase in profits
            </p>
            <br>
            <h2><a href="https://www.linkedin.com/company/kirkland-messina-inc/" target="_blank">Programmer for Kirkland Messina ➤</a></h2>
            <br>
            <p>Architect for a large scale automation project. Coded a python
                program that could run autonomously
                for long periods on a server. </p>
            <br>
            <h2><a href="https://www.savant.com/" target="_blank">Systems programming for Savant ➤</a></h2>
            <br>
            <p>Installed and customized home automation systems for high end homes
            and businesses as well as worked on programming new functionality
            for upcoming product releases</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>Automated arbitrage program<br>
                Brute force MD5 cracker<br>
                Scrabble with visual UI<br>
                This website</p>
            <br>
            <h2>Coding skills</h2>
            <br>
            <p>C++, CSS, HTML, Java, Javascript,
                MongoDB, Pandas, Prophet, Python,
                RegEx, SciPy, Selenium, SQL, XML</p>
            <br>
            <h2>Example projects</h2>
            <br>
            <p class="codeSnippet">
                _=[print(''.join(x)+str(__import__('time').clock())) for x in __import__('itertools')
                .chain(*map(****** i:__import__('itertools').p***********(__import__('string')
                .printable, i),r****(8))) if __import__('hashlib').md5(''.join(x).encode()).hexdigest()
                in open("h", "r").read().split("\n")]
            </p>
            <p><i>One line list comprehension to brute force MD5 hack (modified to prevent abuse)</i></p>
            <br><br>
        </div>
            <a id="Finance"></a>
            <div class="titles"><h1>Finance</h1><br>
            </div>
        <div class = "ContentBox FinanceText">
            <br><br>
            <h2><a href="http://www.portfolioinsider.com/" target="_blank">Head of Investor Relations at Portfolio Insider ➤</a></h2>
            <br>
            <p>
                Worked on venture capital and investor relations
            </p><br>
            <h2><a href="http://www.google.com/" target="_blank">Software Engineer for Google ➤</a></h2>
            <br>
            <h2><a href="http://www.mutualsecurities.com/" target="_blank">Software Architect for Mutual Securities ➤</a></h2>
            <br>
            <p>
                Helped auto-generate personalized portfolio recommendations
                and highlight rich/cheap analysis for fixed income facilitating
                > 2B in transactions and > 50% increase in profits
            </p>
            <br>
            <h2><a href="https://www.linkedin.com/company/kirkland-messina-inc/" target="_blank">Programmer for Kirkland Messina ➤</a></h2>
            <br>
            <p>Automated game theory to optimize pricing strategy
                and minimize operational expenses</p>
            <br>
            <h2><a href="https://www.candle3.com/" target="_blank">Financial Intern for Candle3 ➤</a></h2>
            <br>
            <p>Assisted with financial presentations, contacting clients</p>
            <br>
            <h2><a href = "http://trojaninvestingsociety.com/" target="_blank">Trojan Investing Society Leaders ➤</a></h2>
            <br>
            <p>Worked with members to attend seminars pertaining
            to financial investment in addition to staying up
            to date on market and company trends and the
            financial industry</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>Designed high-tech start up for class including business plan<br>
            Maintaining active portfolio</p>
            <br>
            <h2>Business skills</h2>
            <br>
            <p>Experienced with business fundamentals, strong teamwork,
            and leadership abilities, communicates effectively</p>
            <br>
            <h2>Example projects</h2>
            <br>
            <div class="framecontainer">
            <iframe  frameborder="0" class="example" src="https://docs.google.com/presentation/d/1t1ONeGe5SqGg4cMjjnPp5FaNQNnmsfViBmu3GJvm1Rk/embed?start=true&loop=true&delayms=2000"></iframe>
            </div>
            <p><i>Proposition for acquiring a company for case competition</i></p>
            <br><br>
        </div>
            <a id="Data"></a>
            <div class="titles"><h1>Data Analytics</h1><br>
            </div>
        <div class = "ContentBox DataText">
            <br><br>
            <h2><a href="http://www.google.com/" target="_blank">Software Engineer for Google ➤</a></h2>
            <br>
            <p>
                Worked on Ads team leveraging human capital and machine learning to show appropriate Ads
            </p><br>
            <h2><a href="http://www.mutualsecurities.com/" target="_blank">Software Architect for Mutual Securities ➤</a></h2>
            <br>
            <p>
                Generalized process to sorted through 1,000+ entries to provide
                recommendations to 100+ clients by custom heuristic fits and contingencies
                to reduce 3 hour process into ~3 minute script
            </p>
            <br>
            <h2><a href="https://www.linkedin.com/company/kirkland-messina-inc/" target="_blank">Programmer for Kirkland Messina ➤</a></h2>
            <br>
            <p>Managed large quantities of data and mass data collection including maintaining database
            adding 70,000+ entries per hour</p>
            <br>
            <h2><a href="https://www.candle3.com/" target="_blank">Financial Intern for Candle3 ➤</a></h2>
            <br>
            <p>Analyzed and organized data in excel</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>GPA calculation sheet to weigh different categories</p>
            <br>
            <h2>Data analytics skills</h2>
            <br>
            <p>SQL, Data Modeling,
            Excel programming,
            Google sheets</p>
            <br>
            <h2>Example projects</h2>
            <br>
            <div class="framecontainer datatraffic">
                <iframe frameborder="0" class="example" src="https://docs.google.com/spreadsheets/d/1rXXyDkcNOhrxRnra-o-kf1zKZMIAzdQzo1Rt1d3wgLc/pubhtml?gid=585450196&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
            <p><i>Origin of traffic as a percentage of total website traffic for the top ten philanthropic websites</i></p>
            <img src="../img/popularitychart.png" alt="Example data for popularities" class="chart">
            <p><i>Visualization of data</i></p>
            <br>
            <br><br>
        </div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>


