<!DOCTYPE html>
<html>

<link rel="icon" href="img/logo.png">

  {% include head.html %}

  <body>

    {% include header.html %}

    <a id="School"></a>

    <div class="page-content">
        <div class="ContentWrapper">
            <div class="titles"><h1>Academics</h1></div>
        <div class = "ContentBox SchoolText">
            <br><br>
            <h2>University of Southern California</h2>
            <p><a href="https://viterbischool.usc.edu/" target="_blank">Viterbi School of <b>Engineering ➤</b></a></p>
            <br>
            <p>August 2015 - December 2018</p>
            <br>
            <p><a href="http://catalogue.usc.edu/preview_program.php?catoid=2&poid=1488" target="_blank">
                <b>Major:</b> Computer Science/Business Administration ➤
            </a></p>
            <br>
            <p><b>Finance GPA:</b> 3.52</p>
            <p><b>Coding GPA:</b> 3.48</p>
            <br>
            <br><br>
        </div>
            <a id="Coding"></a>
            <div class="titles"><h1>Coding</h1></div>
        <div class = "ContentBox CodingText">
            <br><br>
            <h2><a href="http://www.portfolioinsider.com/" target="_blank">Chief of Artificial Intelligence at Portfolio Insider ➤</a></h2>
            <br>
            <p>
                Worked on humanizing financial data and making it accessible to everyone
            </p><br>
            <h2><a href="http://www.google.com/" target="_blank">Software Engineer for Google ➤</a></h2>
            <br>
            <p>
                Worked on Ads team leveraging human capital and machine learning to show appropriate Ads
            </p><br>
            <h2><a href="http://www.mutualsecurities.com/" target="_blank">Software Architect for Mutual Securities ➤</a></h2>
            <br>
            <p>
                Designed system to sort through 1,000+ entries by custom heuristic fits
                and provide recommendations to 100+ clients facilitating > 2B in
                transactions and > 50% increase in profits
            </p>
            <br>
            <h2><a href="https://www.linkedin.com/company/kirkland-messina-inc/" target="_blank">Programmer for Kirkland Messina ➤</a></h2>
            <br>
            <p>Architect for a large scale automation project. Coded a python
                program that could run autonomously
                for long periods on a server. </p>
            <br>
            <br><br>
        </div>
            <a id="Finance"></a>
            <div class="titles"><h1>Finance</h1><br>
            </div>
        <div class = "ContentBox FinanceText">
            <br><br>
            <h2><a href="http://www.portfolioinsider.com/" target="_blank">Head of Investor Relations at Portfolio Insider ➤</a></h2>
            <br>
            <p>
                Worked on venture capital and investor relations
            </p><br>
            <h2><a href="http://www.mutualsecurities.com/" target="_blank">Software Architect for Mutual Securities ➤</a></h2>
            <br>
            <p>
                Helped auto-generate personalized portfolio recommendations
                and highlight rich/cheap analysis for fixed income facilitating
                > 2B in transactions and > 50% increase in profits
            </p>
            <br>
            <h2><a href="https://www.linkedin.com/company/kirkland-messina-inc/" target="_blank">Programmer for Kirkland Messina ➤</a></h2>
            <br>
            <p>Automated game theory to optimize pricing strategy
                and minimize operational expenses</p>
            <br>
            <br><br>
        </div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>


