<!DOCTYPE html>
<html>

<link rel="icon" href="img/logo.png">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="ContentWrapper">
            <a id="School"></a>
            <div class="titles"><h1>Academics</h1></div>
        <div class = "SchoolText">
            <h2>University of Southern California</h2>
            <br>
            <p>Viterbi School of <b>Engineering</b></p>
            <br>
            <p>Estimated August 2015 - December 2018</p>
            <br>
            <p><b>Major:</b> Computer Science/Business Administration</p>
            <br>
            <p><b>Finance GPA:</b> 3.64</p>
            <br>
            <p><b>Engineering GPA:</b> 3.72</p>
            <br>
            <p><b>General skills</b></p>
            <br>
            <p>Quickly learns, excellent with instruction, excellent
            at problem solving, timely, well organized, highly
            self-motivated</p>
        </div>
            <a id="Coding"></a>
            <div class="titles"><h1>Coding</h1></div>
        <div class = "CodingText">
            <h2>Programmer for Kairos</h2>
            <br>
            <p>Assisted with programming stock trading techniques and methodology
            to be automated through utilizing Scala for backend and Swift for
            front end iPhone app programming</p>
            <br>
            <h2>Financial Intern for Candle3</h2>
            <br>
            <p>Provided comprehensive technical support</p>
            <br>
            <h2>Systems programming for Savant</h2>
            <br>
            <p>Installed and customized home automation systems for high end homes
            and businesses as well as worked on programming new functionality
            for upcoming product releases</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>Brute force MD5 cracker<br>
            Scrabble with visual UI<br>
            This website</p>
            <br>
            <h2>Coding skills</h2>
            <br>
            <p>Library/api utilization, Programming theory,
            Python, Java, C++, Swift, AHK,
            HTML, CSS, AngularJS</p>
        </div>
            <a id="Finance"></a>
            <div class="titles"><h1>Finance</h1><br>
            </div>
        <div class = "FinanceText">
            <h2>Financial Intern for Candle3</h2>
            <br>
            <p>Assisted with financial presentations, contacting clients</p>
            <br>
            <h2>Trojan Investing Society Leaders</h2>
            <br>
            <p>Worked with members to attend seminars pertaining
            to financial investment in addition to staying up
            to date on market and company trends and the
            financial industry</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>Designed high-tech start up for class including business plan<br>
            Maintaining active portfolio</p>
            <br>
            <h2>Business skills</h2>
            <br>
            <p>Experienced with business fundamentals, strong teamwork,
            and leadership abilities, communicates effectively</p>
        </div>
            <a id="Data"></a>
            <div class="titles"><h1>Data Analytics</h1><br>
            </div>
        <div class = "DataText">
            <h2>Programmer for Kairos</h2>
            <br>
            <p>Helped use machine learning to analyze stock trends and
            create predictive models</p>
            <br>
            <h2>Financial Intern for Candle3</h2>
            <br>
            <p>Analyzed and organized data in excel</p>
            <br>
            <h2>Recent projects</h2>
            <br>
            <p>GPA calculation sheet to weigh different categories <br>
            Sports predictions based on data (WIP)</p>
            <br>
            <h2>Data analytics skills</h2>
            <br>
            <p>SQL, Data Modeling,
            Excel programming,
            Google sheets</p>
        </div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>


